= react_component("UserEdit", props: @user_props, prerender: true)

        
- if user_signed_in? && @user.id == current_user.id
  = render partial: "partial/crop"
  = render partial: "partial/add_publication"


