%div{class: "container m-auto border"}
  %div{class: "row p-3 mb-3 border-bottom"}
    %div{class: "col"}
      %div{class: "m-auto bg-white border border-2 rounded-circle",style: "height: 150px; width: 150px;"}
    %div{class: "col"}
      %div{class: "row justify-content-between align-items-baseline mb-3"}
        %div{class: "col m-0 fs-5 fw-light"}
          = @user.login
        - if user_signed_in? && @user.id == current_user.id
          =link_to "Edit profile", edit_user_path, class: "col btn btn-light btn-sm border border-secondary" 
      %div{class: "row justify-content-between mb-3"}
        %p{class: "col text-nowrap m-0"}
          0 publlications
        %p{class: "col text-nowrap m-0"}
          0 subscribers
        %p{class: "col text-nowrap m-0"}
          0 following
      %p{class: "m-0 fs-5 fs-bold"}
        = @user.name
  %div{class: "row justify-content-center align-items-baseline"}
    %p{class: "col text-center"}
      Publications
    %p{class: "col text-center"}
      Saved
    %p{class: "col text-center"}
      Marks


