.container
  .modal.fade{id: "cropModal"}
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title
            Select miniature for your avatar
          %button.btn-close{data: {bs: {dismiss: "modal"}}}
        .modal-body
          .container
            .row.m-auto.mb-3
              .crop-image-container
                %img{id: "crop-img"}
              .crop-preview-container
                .crop-preview   
            .row.justify-content-center
              %button.btn.btn-primary{id: "crop-button", user_id: @user.id}
                Save
        .modal-footer
