.modal.fade{ id: "showPublicationModal", tabindex: -1, aria: { hidden: true } }
  .pub-show-close-container
    %button.button.pub-show-close{ data: { bs: { dismiss: "modal" } } }

  .modal-dialog.modal-lg
    .modal-content
      .modal-body.pub-show-body

        .pub-show-publication-previous
          .pub-show-left-arrow
          
        .pub-show-content
          .pub-show-photo-column
            .pub-show-photo
              .pub-photo-index-container
              .pub-show-photo-previous
                .pub-show-previous-photo-arrow
              .pub-show-photo-next
                .pub-show-next-photo-arrow
          .pub-show-info-column
            .pub-author-credentials
              .pub-show-avatar-container
                .pub-show-avatar.avatar
                .pub-show-avatar-spinner.spinner
                  = svg "spinner"
              .pub-show-author-login    
            .pub-show-description-container
              .pub-show-avatar-container
                .pub-show-avatar.avatar
                .pub-show-avatar-spinner.spinner
                  = svg "spinner"
              .pub-show-description-block
                .pub-show-author-login 
                .pub-show-description

        .pub-show-publication-next
          .pub-show-right-arrow 
