.modal.fade{ id: "showPublicationModal", tabindex: -1, aria: { hidden: true } }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.btn-close{ data: { bs: { dismiss: "modal" } } }
      .modal-body.pub-show-body
        .pub-show-publication-previous
          .pub-show-left-arrow
        .pub-show-photo-column
          .pub-show-photo
            .pub-show-photo-previous
              .pub-show-previous-photo-arrow
            .pub-show-photo-next
              .pub-show-next-photo-arrow
        .pub-show-publication-next
          .pub-show-right-arrow
        .col
          %p.pub-show-description

         
