- if current_user.followed_by?(user)
  - if current_user.follows?(user)
    Uou are subscribed to each other,
    = link_to friendship_path(current_user.friendships.find_by(friend_id: user.id)), method: :delete, remote: true do
      unsubscribe?
  - else
    User is subscribed to you, 
    = link_to friendships_path({ friend_id: user.id }), method: :post, remote: true do
      subscribe in response?
- elsif current_user.follows?(user)
  you are subscribed,
  = link_to friendship_path(current_user.friendships.find_by(friend_id: user.id)), method: :delete, remote: true do
    unsubscribe?
- else
  You are not subscribed,
  = link_to friendships_path({ friend_id: user.id }), method: :post, remote: true do
    subscribe?

