- if current_user.followed_by?(user)
  - if current_user.follows?(user)
    You are friends
    = link_to friendship_path(current_user.inverse_friendships.find_by(user_id: user.id)), method: :delete, remote: true do
      exclude from friends
  - else
    the user invited you as a friend, 
    = link_to friendships_path({ friend_id: user.id }), method: :post, remote: true do
      accept?,
    = link_to friendship_path(current_user.inverse_friendships.find_by(user_id: user.id)), method: :delete, remote: true do
      discard?
- elsif current_user.follows?(user)
  you invited the user as a friend
- else
  You are not friends
  = link_to friendships_path({ friend_id: user.id }), method: :post, remote: true do
    invite to friends

