.navbar-container{
  @extend .row;
  @extend .bg-white;
  @extend .border-bottom;
  height: 50px;
}

.navbar-logo{
  @extend .col;
  @extend .text-center;
  @extend .fs-3;
  @extend .fw-bold;
}

.navbar-user-search{
  @extend .form-control;
  @extend .me-2;
  position: relative;
}

.navbar-search-clear-button{
  visibility: hidden;
  @extend .btn;
  @extend .btn-close;
}

.navbar-search-results{
  display: none;
  position: absolute;
  z-index: 100;
  top: 45px;
  @extend .bg-white;
  @extend .border;
  box-shadow: 0 0 2px 2px #ECF0F1;
}

.navbar-search-result-item{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .p-2;
  @extend .mb-1;
  color: #000;
  text-decoration: none;
}

.navbar-buttons-row{
  @extend .col;
  @extend .d-flex;
  @extend .align-items-center;
}

.navbar-navigation-buttons{
  @extend .d-flex;
  @extend .justify-content-start;
  @extend .align-items-center;
}

.navbar-button{
  display: block; 
  width: 30px; 
  height: 30px;
  background: #fff;
  padding: 0;
  border: none;
}

.navbar-menu{
  position: relative;
}

.navbar-avatar-container{ 
  position: relative;
  cursor: pointer;
  display: block;
  @extend .me-3;
  @extend .bg-white; 
  @extend .rounded-circle; 
  @extend .border;
  @extend .border-2;
  height: $avatar-container-micro;
  width:  $avatar-container-micro;
}

.navbar-avatar{
  position: relative;
  top: -1px;
  width:  $avatar-micro; 
  height: $avatar-micro; 
  @extend .rounded-circle;
}



// .pub-show-avatar{
//   position: absolute;
//   top: 1px;
//   left: 1px;
//   margin: auto;
//   width:  $avatar-small; 
//   height: $avatar-small; 
//   @extend .rounded-circle;
//   background: asset-url("user_icon_glyph.svg") no-repeat;
// }

.navbar-avatar-spinner{
  position: relative;
  top: -26px;
  margin: auto;
  width:  $avatar-micro; 
  height: $avatar-micro; 
  @extend .rounded-circle;
}

.navbar-menu-popup{
  display: none;
  top: 45px;
  right: 0px;
  z-index: 10;
  position: absolute;
  width: 200px;
  background: #fff;
  box-shadow: 0 0 2px 2px #ECF0F1;

  &-item{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
  }

  &-image{
    width:  25px; 
    height: 25px;
    margin-right: 10px;
  }

  &-description{
    color: black;   
  }
}


