.pub-show-close-container{
  @extend .d-flex;
  @extend .justify-content-end;
}

.pub-show-body{
  @extend .d-flex;
  @extend .align-items-center;
}

.pub-show-close{
  @extend .btn-close;
  @extend .btn-close-white;
  @extend .btn-lg;
  @extend .me-4;
  @extend .mt-4;
}

.pub-show-content{
  @extend .w-100;
  @extend .row;
}

.pub-show-photo-column{
  @extend .col;
  @extend .bg-dark;
  @extend .me-2;
}

.pub-show-info-column{
  @extend .col-12;
  @extend .col-lg-5;
}

@include media-breakpoint-down(lg) {
  .pub-show-photo-column{
    order: 6;
  }
  .pub-show-description-container{
    display: none;
  }
  .pub-show-publication-next{
    right: -20px;
  }

  .pub-show-publication-previous{
    left: -20px;  
  }
}

@include media-breakpoint-up(lg) {
  .pub-show-description-container{
    display: flex;
  }
  .pub-show-publication-next{
    right: -60px;
  }

  .pub-show-publication-previous{
    left: -60px;  
  }
}

.pub-show-photo{
  width: 100%;
  position: relative;
}

.pub-author-credentials{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .border-bottom;
  height: 70px;
}

.pub-show-avatar-container{ 
  position: relative;
  cursor: pointer;
  display: block;
  @extend .me-3;
  @extend .bg-white; 
  @extend .rounded-circle; 
  @extend .border;
  @extend .border-2;
  height: $avatar-container-small;
  width:  $avatar-container-small;
}

.pub-show-avatar{
  position: absolute;
  top: 1px;
  left: 1px;
  margin: auto;
  width:  $avatar-small; 
  height: $avatar-small; 
  @extend .rounded-circle;
  background: asset-url("user_icon_glyph.svg") no-repeat;

}

.pub-show-avatar-spinner{
  position: absolute;
  margin: auto;
  width:  $avatar-small; 
  height: $avatar-small; 
  @extend .rounded-circle;
}


.pub-photo-index-container{
  position: absolute;
  bottom: 10px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  aligh-items: center;
}

.pub-photo-index-indicator{
  @extend .rounded-circle;
  @extend .bg-secondary;
  @extend .me-2;
  width: 10px;
  height: 10px;
}

.pub-show-photo-next{
  cursor: pointer;
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0px;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.pub-show-photo-previous{
  cursor: pointer;
  display: none;
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.pub-show-description-container{
  @extend .align-items-center;
  height: 70px;
  flex-wrap: wrap;
}

.pub-show-previous-photo-arrow{
  visibility: hidden;
  @extend .rounded-circle;
  background: asset-url("left_arrow_circle.svg");
  width: 30px;
  height: 30px;
}

.pub-show-next-photo-arrow{
  visibility: hidden;
  @extend .rounded-circle;
  background: asset-url("right_arrow_circle.svg");
  width: 30px;
  height: 30px;
}

.pub-show-publication-next{
  cursor: pointer;
  position: relative;
  display: none;
  width: 50px;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

.pub-show-publication-previous{
  cursor: pointer;
  position: relative;
  display: none;
  width: 50px;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
}

.pub-show-left-arrow{
  @extend .rounded-circle;
  background: asset-url("left_arrow_light.svg") no-repeat;
  width: 50px;
  height: 50px;
}

.pub-show-right-arrow{
  @extend .rounded-circle;
  background: asset-url("right_arrow_light.svg") no-repeat;
  width: 50px;
  height: 50px;
}
