.pub-show-body{
  @extend .d-flex;
  padding: 0;
  position: relative;
}

.pub-show-photo-column{
  @extend .col;
  @extend .bg-dark;
  @extend .me-2;
}

.pub-show-photo{
  @extend .border;
  width: 400px;
  height: 400px;
  position: relative;
}

.pub-photo-index-container{
  position: absolute;
  bottom: 10px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  aligh-items: center;
}

.pub-photo-index-indicator{
  @extend .rounded-circle;
  @extend .bg-secondary;
  @extend .me-2;
  width: 10px;
  height: 10px;
  //background-color: red;
}

.pub-show-photo-next{
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0px;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.pub-show-photo-previous{
  display: none;
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0px;
  display: none;
  justify-content: flex-start;
  align-items: center;
}

.pub-show-previous-photo-arrow{
  visibility: hidden;
  @extend .rounded-circle;
  background: asset-url("left_arrow_circle.svg");
  width: 30px;
  height: 30px;
}

.pub-show-next-photo-arrow{
  visibility: hidden;
  @extend .rounded-circle;
  background: asset-url("right_arrow_circle.svg");
  width: 30px;
  height: 30px;
}

.pub-show-publication-next{
  display: none;
  width: 50px;
  height: 100%;
  position: absolute;
  right: -50px;
  justify-content: center;
  align-items: center;
}

.pub-show-publication-previous{
  display: none;
  width: 50px;
  height: 100%;
  position: absolute;
  left: -50px;
  justify-content: center;
  align-items: center;
}

.pub-show-left-arrow{
  @extend .rounded-circle;
  background: asset-url("left_arrow_light.svg");
  width: 50px;
  height: 50px;
}

.pub-show-right-arrow{
  @extend .rounded-circle;
  background: asset-url("right_arrow_light.svg");
  width: 50px;
  height: 50px;
}
